{
  "branches": [
    "main",
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "gamma",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm"
    ],
    [
      "@semantic-release/github",
      {}
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          [
            "CHANGELOG.md",
            "package.json"
          ]
        ]
      }
    ]
  ]
}
